In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier #only this is needed here 

from sklearn.tree import plot_tree,export_text
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.linear_model import LinearRegression,LogisticRegression,RidgeClassifier

In [2]:
fruits = pd.read_csv('fruits.csv')
fruits.shape

(60, 4)

In [3]:
fruits.label.value_counts()

label
Orange    30
Apple     30
Name: count, dtype: int64

In [4]:
fruits.groupby('label').describe()

       sphericity                                                             \
            count      mean       std    min     25%     50%      75%    max
label
Apple        30.0  0.768133  0.042097  0.710  0.7285  0.7625  0.80250  0.845
Orange       30.0  0.873033  0.042740  0.808  0.8350  0.8710  0.91325  0.947

       weight
        count        mean        std    min    25%    50%     75%    max
label
Apple    30.0  161.966667  12.075862  140.0  152.5  164.0  171.50  184.0
Orange   30.0  123.533333  14.129288  101.0  110.0  124.0  133.75  149.0

In [10]:
fruits.groupby('label').describe()['weight']
#clear distingwish -> orange wt range-> 101 to 149 
#                     Apple wt range-> 140 to 184     -------> which means Apples are heavy

        count        mean        std    min    25%    50%     75%    max
label
Apple    30.0  161.966667  12.075862  140.0  152.5  164.0  171.50  184.0
Orange   30.0  123.533333  14.129288  101.0  110.0  124.0  133.75  149.0

In [11]:
fruits.head()

    color  sphericity  weight   label
0  Orange       0.947     120  Orange
1  Orange       0.917     125  Orange
2  Orange       0.923     110  Orange
3  Orange       0.916     123  Orange
4  Orange       0.943     124  Orange